
.video {
    display: flex;
    /* justify-content: space-around; */
    gap: 63px;
    width: 871px;
    flex-wrap: wrap;
    height: 635px;
}
.img__awards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 401px;
    height: 231px;
    border-radius: 23px;
    border: 3px solid #FFF;
    /* background: rgba(255, 255, 255, 0.56); */
}

.video p {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* .videoContainer{
    height: 500px;
} */
#vid1 {
 background: url(../img/videoarhiv/video_preview01.jpg);
}
#vid2 {
  background: url(../img/videoarhiv/video_preview02.jpg);
}